{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>Field {{ field.number }} - {{ field.name }}</div>
    <div>Land location: {{ field.land_loc }}</div>
    <div>Comments:</div>
    <div>{{ field.comments }}</div>
    <hr>
    <p>Add an applied chemical.</p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <hr>
    {% if chemicals.count() %}
    <p>Most recent at the top.</p>
    <table class="table table-hover">
        <tr>
            <th>Date applied</th>
            <th>Type</th>
            <th>Chemical name</th>
            <th>Rate</th>
            <th>Wind direction</th>
            <th>Edit</th>
        </tr>
        {% for chemical in chemicals %}
        <tr>
            <td>{{ chemical.date_applied }}</td>
            <td>{{ chemical.type }}</td>
            <td>{{ chemical.name }}</td>
            <td>{{ chemical.rate }}</td>
            <td>{{ chemical.wind_dir }}</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align:right">Comment:</td>
            <td colspan=5>{{ chemical.comment }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
