{% extends "base.html" %}

{% block content %}
    <h1>Create a new field</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.number.label }}<br>
            {{ form.number }}<br>
            {% for error in form.number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=25) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.land_loc.label }}<br>
            {{ form.land_loc(size=25) }}<br>
            {% for error in form.land_loc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.comment.label }}<br>
            {{ form.comment(size=255) }}<br>
            {% for error in form.comment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
