{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>Field {{ field.number }} - {{ field.name }}</div>
    <div>Land location: {{ field.land_loc }}</div>
    <div>Comments:</div>
    <div>{{ field.comments }}</div>
    <hr>
    <p>Add a seeded crop.</p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% if seeds.count() %}
    <hr>
    <p>Most recent at the top.</p>
    <table class="table table-hover">
        <tr>
            <th>Date seeded</th>
            <th>Seed</th>
            <th>Date harvested</th>
            <th>Yield (bu/ac)</th>
        </tr>
        {% for seed in seeds %}
        <tr>
            <td><a href="{{ url_for('editseed', n=seed.id) }}">{{ seed.date_seeded }}</a></td>
            <td>{{ seed.name }}</td>
            <td>{{ seed.date_harvested }}</td>
            <td>{{ seed.bu_yield }}</td>
        </tr>
        {% if seed.comment %}
        <tr>
            <td style="text-align:right">Comment:</td>
            <td colspan=3>{{ seed.comment }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
