{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>Field {{ field.number }} - {{ field.name }}</div>
    <div>Land location: {{ field.land_loc }}</div>
    <div>Comments:</div>
    <div>{{ field.comments }}</div>
    <hr>
    <p>Add a seeded crop.</p>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <hr>
    {% if seeds.count() %}
    <p>Most recent at the top.</p>
    <table class="table table-hover">
        {% for seed in seeds %}
        <tr>
            <th>Date seeded</th>
            <th>Seed</th>
            <th>Date harvested</th>
            <th>Yield (bu/ac)</th>
        </tr>
        <tr>
            <td>{{ seed.date_seeded }}</td>
            <td>{{ seed.name }}</td>
            <td>{{ seed.date_harvested }}</td>
            <td>{{ seed.bu_yield }}</td>
        </tr>
        <tr>
            <td colspan=4>Comment: {{ seed.commentt }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
