{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if fields %}
    <p>List of fields by quarter section:</p>
    <table border=1>
        <tr><th>Number</th><th>Name</th><th>Land Location</th><th>Edit</th></tr>
        {% for field in fields %}
        <tr><td>{{ field.number }}</td><td>{{ field.name }}</td><td>{{ field.land_loc }}</td><td></td></tr>
        {% endfor %}
    </table>
    {% endif %}
    <p><a href="{{ url_for('addfield') }}">Add a new field</a></p>
{% endblock %}
